grant codeBase "file:/var/lib/tomcat7/webapps/libreplan/-" {
   permission java.security.AllPermission;
};
grant codeBase "file:/var/lib/tomcat7/webapps/libreplan.war" {
   permission java.security.AllPermission;
};
